<h1><%= @post.title %></h1>

By <a href="/users/<%= @post.user.id %>"><%= @post.user.username %></a><br><br>

<%= @post.content %><br><br>

Tags:
<% @post.tags.each do |tag| %>
  <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
<% end %>

<br><br>

<% if logged_in? %>
  <% if current_user == @post.user %>
    <a href="/posts/<%= @post.id %>/edit">Edit</a><br><br>

    <form method="post" action="/posts/<%= @post.id %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>

  <% end %>
<% end %>

